<div
  class="flex flex-column h-screen align-content-center flex-wrap justify-content-center"
>
  <p-messages
    *ngIf="showMessage"
    [(value)]="messages"
    
  />
  <div class="surface-400 p-4 shadow-2 border-round w-full md:w-7 lg:5 xl:w-4">
    <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="onSubmit()" >
      <div class="text-center mb-5">Ingrese su usuario y contraseña</div>

      <div class="grid">
        <div class="col-12 md:col-6 md:my-3">
          <p-floatLabel>
            <input
              pInputText
              id="username"
              aria-describedby="usuario-helper"
              class="w-full"
              [ngClass]="{' ng-dirty': isValidField('username')}"
              formControlName="username"
            />
            <label for="username">Usuario</label>
          </p-floatLabel>
          <small class="text-red-700" *ngIf="isValidField('username')">
            Este campo es requerido
          </small>
        </div>

        <div class="col-12 md:col-6 md:my-3">
          <p-floatLabel>
            <input
              pInputText
              type="password"
              id="password"
              aria-describedby="password-helper"
              class="w-full"
              [ngClass]="{' ng-dirty': isValidField('password')}"
              formControlName="password"
            />
            <label for="username">contraseña</label>
          </p-floatLabel>
          <small class="text-red-700" *ngIf="isValidField('password')">
            Este campo es requerido
          </small>
        </div>
      </div>
      <div
        class="flex align-content-center justify-content-center flex-wrap my-2"
      >
        <button
          pButton
          pRipple
          label="Iniciar sesión"
          icon="pi pi-user"
          class="w-full"
          type="submit"
        ></button>
      </div>
    </form>
    <p-toast position="top-left" />
  </div>
</div>
